form {
  width: 100%;
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 15px;
}

form input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}

form input:focus {
  border-color: #007bff;
  outline: none;
  box-shadow: 0 0 4px rgba(0, 123, 255, 0.25);
}

form button {
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  background-color: #007bff;
  color: rgb(247, 247, 247);
  cursor: pointer;
  transition: background-color 0.3s;
}

form button {
  background-color: #4921a1;
  cursor: pointer;
}

form button:hover{
  background-color: #0056b3;
}
