<div>
  <h2>My Tasks</h2>


  <div class="task-filters">
    <button (click)="filterTasks('all')">All</button>
    <button (click)="filterTasks('completed')">Completed</button>
    <button (click)="filterTasks('pending')">Pending</button>
    <button (click)="addTask()">Add Task</button>
  </div>

  
  <div *ngIf="selectedTask">
    <h3>{{ selectedTask._id ? 'Edit Task' : 'Add Task' }}</h3>
    <app-task-form
      [task]="selectedTask"
      (onSave)="saveTask($event)"
    ></app-task-form>
  </div>


  <ul class="task-list">
    <li *ngFor="let task of tasks">
      <input
        type="checkbox"
        [checked]="task.completed"
        (change)="toggleTaskCompletion(task)"
      />
      <span>{{ task.title }}</span>
      <span>{{ task.completed?'Completed':'Pending' }}</span>
      <button (click)="editTask(task)">Edit</button>
      <button (click)="deleteTask(task._id)">Delete</button>
    </li>
  </ul>
</div>
